@import '../../assets/scss/colors';
@import '../../assets/scss/type';
@import '../../assets/scss/responsive';
@import '../../assets/scss/style';

$padding: 1.5rem;

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.card {
  @include soft-shadow;
  background: $col-white;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  border-radius: 2px;

  header {
    background: $col-grey;
    color: $col-white;
    padding: $padding;
    flex-shrink: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    &.high-contrast {
      color: $col-type-body;
      box-shadow: 0 1px $col-light-grey;

      h3 {
        opacity: .375;
      }
    }

    h2 {
      @include font-serif-n4;
      margin-bottom: 0;
      font-style: italic;
      // font-size: power($type-scale, 3) * $type-serif-factor * 1rem;
    }

    h3 {
      @include font-sans-n4;
      opacity: .625;
      margin-bottom: 0;
    }
  }

  .meta {
    overflow: auto;
    height: 100%;
    padding: $padding;
  }

  img {
    width: 100%;
    margin-top: 1rem;
  }
}
