@import 'bootstrap';
@import 'math';
@import 'colors';
@import 'type';
@import 'responsive';

$padding: 1.5rem;

html,
body {
  @include font-sans-n4;
  font-size: 12px;
  background: $col-bg;
  color: $col-type-body;
  overflow: hidden;

  @media (min-width: $screen-md-min) {
    font-size: 16px;
  }
}

app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

section {
  display: block;
  position: relative;
}

main {
  height: 100%;
  display: flex;
  padding: $padding;

  .left {
    flex-grow: 1;
    margin-right: $padding;
  }

  .right {
    width: 30rem;
    height: 100%;
    flex-shrink: 0;
  }
}

sprt-date-picker {
  top: 0;
  left: 0;
  position: absolute;
}
