@import 'bootstrap';
@import 'math';
@import 'colors';
@import 'type';
@import 'responsive';

html,
body {
  @include font-sans-n4;
  background: $col-bg;
  color: $col-type-body;
  overflow: hidden;
}

app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

main {
  height: 100%;
  display: flex;

  .left {
    width: 62.5%;
  }

  .right {
    width: 37.5%;
  }

  @media (max-width: $screen-md-max) {
    .left {
      width: 50%;
    }

    .right {
      width: 50%;
    }
  }
}
