@import 'bootstrap';
@import 'math';
@import 'colors';
@import 'type';
@import 'responsive';

html,
body {
  @include font-sans-n4;
  font-size: 12px;
  background: $col-bg;
  color: $col-type-body;
  overflow: hidden;

  @media (min-width: $screen-md-min) {
    font-size: 16px;
  }
}

app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

main {
  height: 100%;
  display: flex;

  .left {
    flex-grow: 1;
  }

  .right {
    $padding: 1.5rem;
    width: 30rem + 2 * $padding;
    height: 100%;
    flex-shrink: 0;
    padding: $padding;
  }
}
